body {
  margin: 0px;
}

h1 {
  text-align: center;
  margin: 10px 10px 0px 10px;
}

header {
  min-height: 100px;
  background-color: darkgrey;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font-size: 1.8em;
  min-height: 90px;
  max-width: 100%;
  border: solid 3px;
  padding: 12px;
  border-radius: 10%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

li {
  font-size: 1.7em;
  display: block;
  padding: 10px;
}

nav {
  display: flex;
  align-items: flex-end;
}

.project_container {
  display: flex;
  align-items: flex-start;
}

.cards {
  margin: 10px;
  width: 33%;
}

.cards_images {
  max-width: 100%;
}

button {
  font-size: 1.5em;
}

footer {
  min-height: 100px;
  background-color: darkgray;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.copyright {
  font-size: 1.2em;
  padding: 10px;
}

@media only screen and (min-width: 100px) and (max-width: 699px) {
  .project_container {
    flex-direction: column;
    align-items: center;
  }

  .cards {
    width: 90%;
  }
}
